.sponsor {
    background-image: url(../../assets/mentoring-bgc.jpeg);
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative; 
    /* margin: 40px; */
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.57);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.overlay h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: white; 
}

.overlay p {
    font-size: 20px;
    max-width: 600px;
    color: white;
}

.sponsor-icons-container{
    padding: 15px 20px;
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sponsor-icons{
    color: yellow;
    width: 60px;
    height: 60px;
    padding: 15px 20px;
    font-size: 50px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sponsor-icons:hover{
    transform: scale(1.2);
    color: #fae034;
}


/* Media Query */

@media (max-width: 900px) {
    .sponsor{
        text-align: center;
        align-items: center;
    }
    .overlay p{
        max-width: 450px;
    }
    .sponsor-icons-container{
        width: 30%;
        padding: 15px 15px;
        margin: 0 auto;
    }
    .sponsor-icons{
        width: 50px;
        height: 50px;
        font-size: 45px; 
    }
    
}

@media (max-width: 700px) {
    .sponsor-icons{
        font-size: 40px;
        padding: 15px 20px;
        text-align: center;
        align-items: center;
    
    }
    .sponsor-icons-container{
        width: 40%;
        align-items: center;
        text-align: center;
    }
    
}

@media (max-width : 500px) {
    .sponsor-icons-container{
        width: 60%;
        margin: 0 auto;
        align-items: center;
        padding: 25px 0;
    }

    .overlay h1{
        font-size: 40px;
    }

    .overlay p{
        font-size: 17px;
        max-width: 350px;

    }
    
}
