nav{
    width: 100%;
    color: #fff;
    position: fixed;
    padding: 2px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
   width: 220px;
   display: block;
   object-fit: cover;
   max-height: 70px;
   cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
    font-size: 16px;
    cursor: pointer;
}

nav ul .hover:hover{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    transition: 0.2s ease-in-out;
}

.nav ul .btn{
    position: relative;
    transition: transform 0.24s ease-in-out;
}

.dark-nav{
    background: #360167;
    transition: 0.5s;
}



