.programs{
    margin: 80px auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    object-fit: cover;
}

.program-mentor img,
.program-image img{
    flex-basis: 31%;
    height: 400px;
}

.program{
    flex-basis: 31%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(102, 0, 153, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.program:hover .caption{
    opacity: 1;
    padding: 0;
}

.caption .icon{
    font-size: 60px;
    color: #ffff;
    margin-bottom: 10px;
}